.home-container {
  background: #ffffff;
  min-height: 100vh;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  color: #d4af37;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.custom-marker-icon {
  background-color: #ff3b3b;   
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}


.pg-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  justify-content: end;
}

@media (max-width: 768px) {
  .pg-list {
    grid-template-columns: 1fr; 
    justify-content: start;
  }
}

.pg-card {
  width: 90%;
  background: #f9f9f9; 
  color: #333;         
  border-radius: 12px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 10px;
  transition: 0.3s ease-in-out; 
}

.pg-card:hover {
  transform: translateY(-5px);
  border-color: #d4af37;
  box-shadow: 0 6px 16px rgba(212, 175, 55, 0.25);
}

.pg-card img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.pg-card h3 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 600;
}

.pg-card .price {
  font-size: 16px;
  font-weight: bold;
  margin: 3px 0;
}

.pg-card .gender,
.pg-card .distance {
  font-size: 14px;
  margin: 2px 0;
  color: #666;
}

.pg-card .distance {
  color: #d4af37;
  font-weight: 500;
}

@media (max-width: 480px) {
  .title {
    font-size: 22px;
  }
  .pg-list {
    grid-template-columns: 1fr;
  }

  .pg-card {
    width: 100%;
    margin-left: 0;
  }
}

.map-box {
  width: 300px;
  height: 300px;
  position: sticky;
  top: 90px;
  float: right;
  margin-right: 0px;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #d4af37;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  background: #ffffff; /* white map background */
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 10px;
  padding: 8px 12px;
  background: #ffffff; 
}

.leaflet-popup-tip {
  background: #ffffff;
}

.leaflet-popup-content {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.leaflet-container {
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #b3bcc7;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f2f5;
}

.show-map-btn {
  background: #d4af37;
  color: #000;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}

.show-map-btn:hover {
  background: #fff176;
}
